.row
  .span16
    %h1 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .clearfix
        = f.label :name
        .input= f.text_field :name
      .clearfix
        = f.label :email
        .input= f.email_field :email
      .clearfix
        = f.label :password
        .input= f.password_field :password
      .clearfix
        = f.label :password_confirmation
        .input= f.password_field :password_confirmation
      .clearfix
        .input
          %input{ :type => 'reset', :value => "Reset", :class => "btn" }
          = f.submit "Sign up", :class => "btn primary"

    = render :partial => "devise/shared/links"
